<div class="bg-algolia-bg min-h-[80vh]">
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="text-center">
                <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ 'LANDING_TITLE' | translate
                    }}</h1>
                <p class="mt-6 text-lg leading-8 text-gray-300">{{ 'LANDING_SUBTITLE' | translate }}</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a routerLink="/login" class="btn-primary">{{
                        'GET_STARTED' | translate }}</a>
                    <a href="#"
                        class="text-sm font-semibold leading-6 text-white hover:text-gray-300 transition-colors">{{
                        'LEARN_MORE' | translate }}
                        <span aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
    </div>
</div>